extends layout

block content
  h1= title
  - let o;
  - let items = results;
  div(class="container-fuild")
    div(class='row m-1')
    div(class= "row row-cols-1 row-cols-sm-4 g-6")
      each item, index in items
        - let destination = `dispatch(\"/fish/update?id=${item._id}\")`
        div(class="card text-white bg-success mb-3" class='col card card-body card-text' onclick='buy('+index+')') Item #{item.Name}(#{item.colour}) is #{item.age}
          <br><br>
          button.btn( class="btn-warning ml-1", onclick= destination) Update

  script.
   function buy(element){
     alert(`You purchased item ${element+1}.`)
    }

  script.
    function dispatch(path){
      window.location.href=path
    }