extends layout
block content
 h1= title
 - let fishid = toShow._id
 - let Name = toShow.Name
 - let colour = toShow.colour
 - let age = toShow.age
 div
 div.row
 div(class='fishAttr mr-3') Fish ID is:
 div #{fishid}
 div.row
 div(class='fishAttr mr-3') Fish Name is:
 div #{Name}
 div.row
 div(class='fishAttr mr-3') Fish Colour is:
 div #{colour}
 div.row
 div(class='fishAttr mr-3') Fish Age is:
 div #{age}