extends layout

block content
  h1= title
  - let o;
  - var results = [{"Name":"Goldfish", "colour":"Gold","age":12},{"Name":"Bluefish", "colour":"Blue","age":14},{"Name":"Swordfish", "colour":"Silver","age":8}]
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class="card text-dark bg-danger mb-3" class='col' class='card' class='card-body' class='card-text' onclick='buy('+index+')') #{o}
          div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
            p #{result.Name}
            p #{result.colour}
            p #{result.age}  
            a(href="fish/update/?id="+result.id)  Update
            a(href="fish/detail/?id="+result.id)  View
            a(href="fish/delete/?id="+result.id)  Delete

  script.
   function buy(element){
     alert(`You purchased item ${element+1}.`)
    }